.main{
	display: flex;
}
.sidebar{
	background-color: #181818;
	flex: 1;
	height: 100vh;
}
.content{
	flex: 4;
	background-color: white;
}
.a-link{
	color: white;
	text-decoration: none;

}
.a-link.hover{
	text-decoration: underline;

}
.list{
	margin-top: 20px;
	list-style: none;
}
.card{
	margin-top: -500px; 
	margin-left: 350px; 
	width: 260px; 
	height: 270px;
	box-shadow: 5px 10px 18px #888888;
}
.img1{
	height: 180px; 
	width: 230px;
	cursor: pointer;
}
.p1{
	text-align: center; 
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.btn1{
	width: 258px; 
	margin-left: -15px;
	background-color: #3333ff;
	border: none;
  	color: white;
  	padding: 10px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 19px;
  	margin-top: -9px;

}
h5{
	padding: 15px;
	text-decoration: underline;
	color: white;

}
h4{
	text-align: center;
	text-decoration: underline;
	font-weight: bolder;
	padding: 35px;
}

.a-link::before {
  content: "\2022";  
  color: red; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
.user{
	width: 50px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: -10px;
}