*{
	margin : 0;
	padding: 0;
	font-family: sans-serif; 
}
.hero{
width: 100%;
height: 100%;
background-image: url(shop3.png);
background-position: center;
background-size: cover;
position: absolute;


}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background:#fff;
	padding: 3px;
}

.button-box{
	width: 190px;
	margin: 25px auto;
	position: relative;
	box-shadow: 0 0 35px 7px #ff61241f;
	border-radius: 20px;
}

.toggle-btn 
{
	padding: 11px 20px;
	cursor:pointer;
	
    background:#ff105f;
    color: #000;
    cursor: pointer;

	position: relative;
}


#btn{
	top: 0;
	left:0;
	position: absolute;
	width: 90px;
	height: 100%;
	border-radius: 30px;
	transition: .5s;
	}


.social-icons{
	margin: 30px auto;
	text-align: center;

}

.social-icons img{
	width:30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor:pointer;
	border-radius: 50%;


} 
.input-group{
	top: 180px;
	position: absolute;
	width:190%;
	transition: .5s;


}


.input-field{
	width: 35%;
	padding: 10px, 0;
	margin: 13px 5px;
	border-left: 0;
		border-right: 0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;

}


.submit-btn{
width: 30%;
padding: 10px 20px;
cursor:pointer;
display: block;
margin: 35px;
background:linear-gradient(to right, #ff105f, #ffad06);
border:0;
outline: none;
border-radius:30px;


}

 
.check-box{
	margin:35px, 15px, 35px, 0;
}

span{

	color:#777;
	font-size: 12px;
	bottom: 107px;
	position: absolute;
}


#Login{
	left:50px;

}

#register{
	left:390px;
}